#name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(3vw + 4vh);
    
}

.demoTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(2vw + 2vh);
    
}

.spacer{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 25%;
}

.spacer2{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.spacer3{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer4{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}

.buttons{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    font-size: calc(2vw + 2vh);
    padding: calc(1vw + 1vh);
    border-radius: calc(.5vw + .5vh);
    
    background-color: antiquewhite;
}

#topbuttons{
display: flex;
justify-content: space-evenly;
align-items: center;

}

#bottombuttons{
display: flex;
justify-content: center;
align-items: center;
}

#top{
    height: 0%;
}

#border {
  position: relative;
  background-color: transparent;
  color: lightslategray;
  border: 3px solid lightslategray;
  transition: 0.4s ease-out; 
}

#border span {
  position: relative;
  z-index: 2;
  transition: 0.4s ease-out; 
}

#border::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: calc(100% + 2vw);
  height: calc(100% + 2vh);
  border-radius: calc(.5vw + .5vh);
  border: 3px solid lightslategray;
  opacity: 0;
  transition: 0.8s ease-out;
}

#border:hover{
color:black;
border-color: transparent;
}

#border:hover:after{
    width: 100%;
    height: 100%;
    opacity: 1;
    border-color: black;
}

.vid{
position: absolute;
height: 100%;
width: 100%;
z-index: -1;
object-fit: cover;
}


.body{
    margin: 0;
    padding: 0;
    overflow: hidden;
/*background-image: url(src/bg.jpg); */

    width: 100%;
    height: 100%;

    /*stretch fit*/
    background-size: 100% 100% ;
    background-position: center;
    background-repeat: no-repeat;
}

.resume{
    background-image: url(src/Resume.jpg);
     margin: 0;
    padding: 0;
    overflow: hidden;

    width: 100%;
    height: 90%;
    background-size: contain ;
    background-position: center;
    background-repeat: no-repeat;
}

.projects{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: calc(100% / 3);

    display: flex;
    justify-content: center;
    align-items: center;
    
}



.demoImages{
    height: calc(15vw + 15vh); 
    width: calc(20vw + 20vh);
    padding: calc(1vw + 1vh);
    
}

.demoElements{
    width: calc(100% / 3); 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.demoList{
    display: flex; 
    flex-direction: column; 
    
}

.demoBody{
    width: 100%; 
    height: 75%; 
    display: flex; 
    align-items:center;  
    justify-content:space-evenly;
    
}

.demoTitle{
    width: 100%; 
    height: 10%; 
    display: flex;  
    align-items: center; 
    justify-content:space-evenly;
    justify-content: center;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.homeButtons{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    font-size: calc(1.5vw + 1.5vh);
    padding: calc(.4vw + .4vh);
    border-radius: calc(.5vw + .5vh);
    
    background-color: antiquewhite;
}

.aboutImage{
    

}

.portraitHome{
    display: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: calc(1.5vw + 1.5vh);
    padding: calc(.4vw + .4vh);
    border-radius: calc(.5vw + .5vh);
    
    background-color: antiquewhite;
    
}

.magicHomeButtons{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    font-size: calc(1.5vw + 1.5vh);
    padding: calc(.4vw + .4vh);
    border-radius: calc(.5vw + .5vh);
    
    background-color: antiquewhite;
}

@media (orientation: portrait){
    .demoBody{
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }

    .demoElements{
        width: 100%;
    }
     
    .magicHomeButtons{
        display: none;
    }
    #phome{
        text-decoration: none;
    }
       
    .portraitHome{
        display: flex;
    }
        /* im am idiot 
        */
}

@media (orientation: landscape){
    
   
}